
body{
       /* background-color: #fff; */ 
       background: #118ab2; 
       transition: background 1s ease;
}


#map{
  width: 100%;
  height: 500px;
}

#lienzo{
  display: flex;
  justify-content: center;
}

h1{
  padding-top: 20px;
  text-align: center;
/*   color: #06d6a0;*/  
  color: #fff;
  font-size: 40px;
}

h2 {
  color: #fff;
  font-size: 90px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  clear: both;
}

h3{
  text-align: center;
  color: #fff;
}

#municipiotxt{
  color: #fff;
  font-size: 20px;

}

.grafica{
  display: flex;
  justify-content: center;
}

.content {
  display: table;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}