
body{
      background-color: #118AB2;  
}

 .form-calendar-container{
  background: #fff;
  padding: 35px;
  margin-top: 3vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

#map{
  width: 400px;
  height: 300px;
}